extends layout

block content
  h3 目標の編集
  form(method="post", action=`/objectives/${objective.objectiveId}?edit=1`)
    div
      h5 目標名
      input(type="text" name="objectiveName" value=objective.objectiveName)
    div
      h5 頻度（週何回）
      input(type="text" name="frequency" value=objective.frequency)
    div
      h5 期限
      input(type="date" name="dueDay" value=objective.formattedDueDay)
    div
      h5 メモ
      textarea(name="memo") #{objective.memo}
    div
      button(type="submit") 以上の内容で目標を編集する

