extends layout

block content
  if user
    div.d-flex.justify-content-between.my-5
      h3 あなたの目標一覧
      a(href="/objectives/new").btn.btn-info 目標を作る
    -var hasObjective = objectives.length > 0
    if hasObjective
      table.table
        thead
          tr
            th 目標
            th 達成回数
            th 達成率
            th 残り日数
        tbody
        each objective in objectives
          tr
            td
              a(href=`/objectives/${objective.objectiveId}/months/${monthName}`)!= stampTypeObj.map.get(objective.stampType)
                span  #{objective.objectiveName}
            td #{objective.achievedNum} 回
            td #{objective.objAchvRate} %
            td 残り #{objective.remainingDays} 日
  else
    div.jumbotron.my-3
      h1.display-4.mb-5.text-center スタンプを押して目標管理！
      p.lead 日々の目標の進捗を管理するアプリです。<br>GitHub アカウントと連携してご利用いただけます。<br>その日の目標を達成したら、スタンプを押していきましょう！<br>
      h2.display-5.my-5 夏休みのラジオ体操で押したスタンプカードのようなアプリです！
      a(href="/login").btn.btn-info.btn-block.my-3 ログイン
