extends layout

block content
  div#errorMsg
    -var errorName = { objectiveName: "目標", frequency: "頻度", dueDay: "期限", memo: "メモ" }
    -var hasError = errors ? errors.length > 0 : false
    if hasError
      p エラー
      each error in errors
        ul
          li #{errorName[error.param]} : #{error.msg}
  form(method="post" action="/objectives")
    div
      h5 目標
      if objectiveName
        input(type="text" name="objectiveName" value=objectiveName)
      else
        input(type="text" name="objectiveName")
    div
      h5 頻度（週に何回）
      select(name="frequency")
        for val in [1, 2, 3, 4, 5, 6, 7]
          if val == frequency 
            option(value=val selected)= val
          else
            option(value=val)= val
    div
      h5 期限
      if dueDay
        input(type="date" name="dueDay" value=dueDay)
      else
        input(type="date" name="dueDay")
    div
      h5 メモ
      if memo
        textarea(name="memo") #{memo}
      else
        textarea(name="memo")
    button(type="submit") 目標をつくる
