extends layout

block content
  -var errorName = { objectiveName: "目標", frequency: "頻度", dueDay: "期限", memo: "メモ" }
  -var hasError = errors ? errors.length > 0 : false
  if hasError
    div.border.border-danger.my-2.p-4
      p エラー
      each error in errors
        ul.list-group
          li #{errorName[error.param]} : #{error.msg}
  form(method="post" action="/objectives").my-3
    div.form-group
      label(for="objectiveName") 目標名
      if objectiveName
        input(type="text" name="objectiveName" value=objectiveName).form-control
      else
        input(type="text" name="objectiveName").form-control
    div.form-group
      label(for="frequency") 頻度（週何回）
      select(name="frequency").form-control
        for val in [1, 2, 3, 4, 5, 6, 7]
          if val == frequency 
            option(value=val selected)= val
          else
            option(value=val)= val
    div.form-group
      label(for="dueDay") 期限
      if dueDay
        input(type="date" name="dueDay" value=dueDay).form-control
      else
        input(type="date" name="dueDay").form-control
    div.form-group
      label(for="memo") メモ
      if memo
        textarea(name="memo").form-control #{memo}
      else
        textarea(name="memo").form-control
    button(type="submit").btn.btn-info 目標をつくる
