extends layout

block content
  h3.my-3 #{objective.objectiveName}
  p 今日までの達成率：
    span#freqAchvRate #{objective.freqAchvRate_p} % #{objective.freqAchvRate_f}
  p 期限日までの達成率：
    span#objAchvRate #{objective.objAchvRate_p} % #{objective.objAchvRate_f}
  div(data-objid=objective.objectiveId data-calmonth=month.monthName data-today=today data-stamps=stamps)#calendar
  table.table.table-borderless
    tbody
      tr
        th 頻度（週に何回）
        td #{objective.frequency}
      tr
        th 期限
        td #{objective.formattedDueDay}
      tr
        th メモ
        td(style="white-space:pre;") #{objective.memo}
  - var isMine = parseInt(user.id) === objective.user.userId
  if isMine
    div 
      a(href=`/objectives/${objective.objectiveId}/edit?month=${month.monthName}`).btn.btn-info この予定を編集する
