extends layout

block content
  h4 #{objective.objectiveName}
  p 頻度の達成率：#{objective.freqAchvRate}
  p 目標達成率：#{objective.objAchvRate}
  div(data-today=objective.today)#calendar
  div
  table
    tbody
      tr
        td 頻度:
        td #{objective.frequency}
      tr
        td 期限:
        td #{objective.formattedDueDay}
      tr
        td メモ:
        td(style="white-space:pre;") #{objective.memo}
