extends layout

block content
  h3.my-3!= stampTypeObj.map.get(objective.stampType)
    span  #{objective.objectiveName}
  ul
    li 今週の達成回数: 
      span#thisWeekAchvNum #{objective.thisWeekAchvNum}
      span 回 ( 達成率: 
      span#thisWeekAchvRate #{objective.thisWeekAchvRate}
      span % )
    li 今日までの総達成回数: 
      span#totalAchvNum #{objective.totalAchvNum}
      span 回 ( 達成率: 
      span#totalAchvRate #{objective.totalAchvRate}
      span % )
    li 経過日数: 
      span#elapsedDays #{objective.elapsedDays}
      span 日目 ( 残り: 
      span#remainingDays #{objective.remainingDays}
      span 日 )
  div(data-objid=objective.objectiveId data-calmonth=month.monthName data-today=today data-createdat=objective.createdAt data-dueday=objective.dueDay data-stamps=stamps data-stamptype=objective.stampType)#calendar
  div
    table.table.table-bordered
      tbody
        tr
          th 開始日
          td #{objective.formattedCreatedAt} から
        tr
          th(style="white-space:nowrap;") 目標回数（回/週）
          td #{objective.frequency} 回
        tr
          th 期限
          td #{objective.formattedDueDay} まで
        tr
          th メモ
          td(style="white-space:pre-wrap;") #{objective.memo}
  - var isMine = parseInt(user.id) === objective.user.userId
  if isMine
    div 
      a(href=`/objectives/${objective.objectiveId}/edit?month=${month.monthName}`).btn.btn-info この予定を編集する
