extends layout

block content
  h4 #{objective.objectiveName}
  p#freqAchvRate 今日までの達成率：#{objective.freqAchvRate_p} % #{objective.freqAchvRate_f}
  p#objAchvRate 期限日までの達成率：#{objective.objAchvRate_p} % #{objective.objAchvRate_f}
  div(data-objid=objective.objectiveId data-calmonth=month.monthName data-today=today data-stamps=stamps)#calendar
  div
  table
    tbody
      tr
        td 頻度（週に何回）
        td #{objective.frequency}
      tr
        td 期限
        td #{objective.formattedDueDay}
      tr
        td メモ
        td(style="white-space:pre;") #{objective.memo}
  - var isMine = parseInt(user.id) === objective.user.userId
  if isMine
    div 
      a(href=`/objectives/${objective.objectiveId}/edit?month=${month.monthName}`) この予定を編集する
